/* основной цвет текста #212121 */
/* вторичный цвет текста #757575 */
/* акцент лого #2196F3 */
/* белый цвет #FFFFFF */
/* фон футер и хедер #2F303A */
/* вторичный цвет фона #E5E5E5 */
/* фон кнопок #F5F4FA */


/* body */

.body {
 font-family: link:"https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap"
}


/* header */

.header .main {
  background-color: #ffffff;
}

.header-logo,
.footer-logo,
button {
  cursor: pointer;
}

.web {
  color: #2196f3;
}
.studio {
  color: #212121;
}


/* nav header */

li {
  list-style-type: none;
}

}
.nav-button {
color: #212121;
font-family: Roboto;
font-size: 14;
font-style: normal;
font-weight: 500;
line-height: 16;

}

.nav-button:hover {
    color: #2196f3;
}

/* 

.mail, .tel {
    color: #757575;
}
.mail:hover,
.tel:hover {
    color: #2196f3;
}

 */

a[href^="mailto"], 
a[href^="tel"] {
    color: #212121;
}
a[href^="mailto"]:hover,
a[href^="tel"]:hover {
    color: #2196f3;
}
  

/* main button */

.btn1 {
    width: 73px;
    height: 38px;
    left: 495px;
    top: 174px;
    color: #212121; 
    background: #F5F4FA;
    border-radius: 4px; 
}

.btn1:hover, .btn1:focus {
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn2 {
    width: 128px;
    height: 38px;
    left: 576px;
    top: 174px;
    color: #212121; 
    background: #F5F4FA;
    border-radius: 4px;
}

.btn2:hover, .btn2:focus {
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn3 {
    width: 145px;
    height: 38px;
    left: 712px;
    top: 174px;
    color: #212121; 
    background: #F5F4FA;
    border-radius: 4px; 
}

.btn3:hover, .btn3:focus {
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

}

.btn4 {
    width: 103px;
    height: 38px;
    left: 865px;
    top: 174px;
    color: #212121; 
    background: #F5F4FA;
    border-radius: 4px; 
}

.btn4:hover, .btn4:focus {
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

}
 

.btn5 {
    width: 130px;
    height: 38px;
    left: 976px;
    top: 174px;
    color: #212121; 
    background: #F5F4FA;
    border-radius: 4px; 
}

.btn5:hover,.btn5:focus {
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

h3 {
    
}




/* Footer */

}
.footer {
  background-color: #2f303a;
}
